<!DOCTYPE html>
{% extends "base.html" %}

{% block title %} Login {% endblock %}


{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Login</h1>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Log in" class="btn btn-primary" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>

                <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
            </div>
        </div>
    </div>
{% endblock %}
