<!DOCTYPE html>
{% extends "base.html" %}

{% block title %} Register for an account {% endblock%}


{% block body_block %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Register here</h2>
          <form method="post" action=".">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Submit" class="btn btn-primary" />
          </form>
        </div>
      </div>
    </div>
{% endblock %}
