<!DOCTYPE html>
{% extends "base.html" %}

{% block title %} Registration is complete {% endblock%}


{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Your account is now activated.
                    {% if not user.is_authenticated %}
                        You can log in.
                    {% endif %}

                </p>
                <a href="{% url 'index' %}">Back to main page</a>
            </div>
        </div>
    </div>

{% endblock %}
