<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} TODO {% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"  %}">

    <div id="editprofilediv">
        <h2>Edit Your Profile</h2>



    </div>

{% endblock %}