<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} TODO {% endblock %}

{% block body_block %}
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="{% static "js/todo-script.js" %}"></script>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">TODO List</h1>
                <h3 class="pull-left">Hello, <a href="{% url 'userProfile' %}">{{ user.username }}</a></h3>
                <h3 class="pull-right"><a href="{% url 'auth_logout' %}?next=/accounts/login/">Logout</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form id="taskForm" method="post" action="{% url 'index' %}" class="form">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input id="addTaskButton" type="submit" name="submit" value="Add task" />

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="taskListDiv">
                    <h2>Task list:</h2>
                    <div>
                        <span>Filter tasks:</span>
                        <select name="filter" id="filter">
                            <option value="all">All</option>
                            <option value="active">Active</option>
                            <option value="complete">Complete</option>
                        </select>
                    </div>
                    <ul id="taskList" class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
