<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} TODO {% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"  %}">
    <script src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script src="{% static "js/todo-script.js" %}"></script>

    <div id="userprofilediv">
        <h2>User Profile</h2>
        <ul>
            <li>Username: {{ user.username }}</li>
            <li>First name: {{ user.first_name }}</li>
            <li>Last Name: {{ user.last_name }}</li>
            <li>Tasks Created: {{ userProfile.tasksCreated }}</li>
            <li>Tasks Finished: {{ userProfile.tasksFinished }}</li>
            <li>Tasks Deleted: {{ userProfile.tasksDeleted }}</li>
        </ul>
        <br />

        <p><a href="{% url 'resetStats' %}">Reset Statistics</a></p>
        <p><a href="{% url 'index' %}">Back to main page</a></p>
    </div>

{% endblock %}